html, body {
  margin: 0; }

.toolbar__menu {
  margin-left: -12px !important;
  margin-right: 20px !important; }

.toolbar__title {
  flex: 1; }
  .toolbar__title a {
    text-decoration: none;
    color: inherit; }

.page--padding {
  padding: 1.5rem 1rem; }
