html, body {
	margin: 0;
	height: 100%;
}

.toolbar {
	&__menu {
		margin-left: -12px !important;
		margin-right: 20px !important;
	}
	&__title {
		flex: 1;
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

.page--padding {
	padding: 1.5rem 1rem;
}