.enter-password {
	max-width: 30rem;
	margin: 0 auto;

	&__title {
		text-align: center;
		font-size: 2rem !important;
	}
	&__subtitle {
		text-align: center;
	}
	&__error {
		color: red !important;
	}

	&__input {
		margin-bottom: 1.25rem !important;
	}

	&__submit {
		text-align: center;
	}
}