.enter-password {
  max-width: 30rem;
  margin: 0 auto; }
  .enter-password__title {
    text-align: center;
    font-size: 2rem !important; }
  .enter-password__subtitle {
    text-align: center; }
  .enter-password__error {
    color: red !important; }
  .enter-password__input {
    margin-bottom: 1.25rem !important; }
  .enter-password__submit {
    text-align: center; }
